.wrapper--hero__image {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  font-family: "Caveat", cursive;
  font-size: 25px;
  color: #f1edee;
  overflow: hidden;
  .upper--img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(../images/front.png) no-repeat bottom;
    background-size: cover;
  }
  .text-wrap {
    margin-left: 10%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  .wrapper--hero__image {
    .upper--img {
      width: 94%;
      background: url(../images/front.png) no-repeat bottom;
      position: absolute;
      z-index: -2;
      background-size: cover;
    }
    .mid--img__high {
      width: 100%;
      height: 450px;
      position: absolute;
      z-index: -3;
      background: url(../images/second-front.png) no-repeat;
      background-size: cover;
    }
    .mid--img__low {
      width: 100%;
      height: 472px;
      position: absolute;
      z-index: -4;
      background: url(../images/middle-front.png) no-repeat;
      background-size: cover;
    }
    .bottom--img {
      left: 50%;
      top: 100px;
      width: 446px;
      height: 342px;
      position: absolute;
      z-index: -5;
      background: url(../images/back.png) no-repeat;
      background-size: cover;
    }
  }
}
